{% extends "mynotes/layout.html" %}
{% load static %}
{% block header %}
<header  style="background-color:GainsBoro" >
        <div class="contact">
        <div class="container px-7">
            <div class="row gx-3 align-items-center justify-content-center">
                <div class="col-lg-6 col-xl-7 col-xxl-6">
                   <h3 style="color:Brown"> Know About Us</h3><br/>
                   <h4><i> This website provides you the facility to store and use passwords ,notes for future reference.. </i></h4>
                   <h4><i> Passwords plays an important role in todays life. 
                        this website provides encryption and decryption functionalities for more security...
                   </i></h4>
                   <h4><i> Create tab provides us with the place to store all the content for notes as well as passwords..
                           Portfolio provides us the stored passwords and notes.....
                       <h4><i>    For more queries visit Contact page....<a href="/contact">Contact Us</a></i></h4>
                       <h4><i>   Logout button provides with the logging off the site.. </i></h4>
                   </i></h4>
                   <h4><i>Registration and login functionalities are provided in the homepage!!! </i></h4>
                </div>
                   <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5" src="{% static 'mynotes\assets\about.png' %}" alt="..." /></div>
                        
                </div>
            {% comment %} <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5" src="{% static 'mynotes\assets\contact.png' %}" alt="..." /></div> {% endcomment %}
            </div>
        </div>
        
    </header>
{% endblock %}
{% block body %}
        

        
{% endblock %}