{% extends "mynotes/layout7.html" %}
{% load static %}
{% block header %}
<header  style="background-color:GainsBoro" >
        <div class="contact">
        <div class="container px-7">
            <div class="row gx-0 align-items-center justify-content-center">
                <div class="col-lg-8 col-xl-7 col-xxl-6">
                   <h3 style="color:Brown"> For Queries Contact Us at:</h3><br/>
                        <a class="btn btn-social btn-google" style="background-color:darkSeaGreen; color:FireBrick; text-align:center; padding:8px 32px; font-size:16px; display:inline-block;" href="http://google.com/+"><i class="fab fa-google-plus"></i><b><h3>Google</h3></b></a><br/><br/>
                        <a class="btn btn-social btn-facebook" style="background-color:darkSeaGreen; color:Indigo; text-align:center; padding:8px 18px; font-size:16px; display:inline-block;" href="http://www.facebook.com/profile.php?id="><i class="fab fa-facebook"></i><b><h3>facebook</h3></b></a><br/><br/>
                        <a class="btn btn-social btn-linkedin"style="background-color:darkSeaGreen; color:blue; text-align:center; padding:8px 22px; font-size:16px; display:inline-block;" href="http://www.linkedin.com/in/"><i class="fa fa-linkedin"></i><b><h3>LinkedIn</h3></b></a><br/><br/>
                        <a class="btn btn-social btn-twitter" style="background-color:darkSeaGreen; color:MidnightBlue; text-align:center; padding:8px 32px; font-size:16px; display:inline-block;" href="http://twitter.com/"><i class="fa fa-twitter"></i><b><h3>Twitter</h3></b></a><br/><br/>
                        <a class="btn btn-social btn-google" style="background-color:darkSeaGreen;color:Red; text-align:center; padding:8px 22px; font-size:16px; display:inline-block;" href="http://youtube.com/"><i class="fa fa-youtube"></i><b><h3>Youtube</h3></b></a><br/><br/>
                        <a class="btn btn-social"style="background-color:darkSeaGreen; text-align:center; padding:8px 36px; font-size:16px; display:inline-block;"  href="mailto:"><i class="fa fa-envelope-o"></i><b><h3>Phone</h3></b></a><br/>
                </div>
            <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5" src="{% static 'mynotes\assets\contact.png' %}" alt="..." /></div>
            </div>
        </div>
        
    </header>
{% endblock %}
{% block body %}

{% endblock %}

