{% extends "mynotes/layout.html" %}
{% load static %}
{% block header %}
            
{% endblock %} 
{% block body %}        
            <!-- Features section-->
            <a  class="btn btn-primary btn-lg px-4 me-sm-3"  href="{% url 'create_pwd' %}">create+</a>
            <h4 style="text-align:center;">Passwords</h4>
        {% for a in p %}
        
        <div >
            <h5><a href="pshow/{{a.id}}">{{a.Website}}</a></h5>
           {% comment %} <h5> {{a.Website}}</h5>
           <h5> {{a.Username}}</h5> {% endcomment %}
           {% comment %} <h5> password is encrypted</h5> {% endcomment %}
           {% comment %} <a  class="btn btn-primary btn-lg px-4 me-sm-3"  href="{% url 'decrypter' a.id %}">decrypt</a> {% endcomment %}
       </div>&nbsp;
       {% endfor %}
{% endblock %}
        
       