{% extends "mynotes/layout.html" %}
{% load static %}
{% block header %}
            
{% endblock %} 
{% block body %}        
            <h4 style="text-align:center;">Password</h4>
            <a  class="btn btn-danger btn-lg px-4 me-sm-3"  href="{% url 'rempassword' a.id %}">delete-</a>
            <br/>
            <br/>
        <div >
           <h5> {{a.Website}}</h5>
           <h5> {{a.Username}}</h5>
           <h5> {{g}}</h5>
           <a  class="btn btn-primary btn-lg px-4 me-sm-3"  href="{% url 'decrypter' a.id %}">decrypt</a>
       </div>&nbsp;
{% endblock %}